{% extends "header.html" %}

<title>{% block tittle %}Public posts{% endblock %}</title>
{% block a%}


<div class="container">
    <div class="row">
        <div class="col-md-12">
                {% for item in items%}
            <div class="row post">

                <div class="col-md-4 image">
                            <h3>  {{ item.item_name }}</h3>
                            <img src="{{ item.item_image.url }}">

                    </div>
               <div class="col-md-4">
                <h3>From </h3>
                Sender name:    {{ item.sender_name }}<br>
                Sender contact no:  {{ item.sender_no }} <br>

                Pick up place :     {{ item.pickup_place }}<br>

                Pick up date:       {{ item.pickup_date }}<br>
                Delivery price:     {{ item.delivery_price }} 
                 <div>
                {% include 'responsibility/update_respon.html' with item=object responsibility=responsibility %}
               
              </div>
               
            </div>
            <div class="col-md-4">
                    <h3>To </h3>
                    Receiver name:   {{ item.receiver_name }}<br>
                    Receiver contact no:    {{ item.receiver_no }} <br>
                    Drop off place:      {{ item.dropoff_place }}<br>
               </div>

            
                
        </div>
        {% endfor %}
        </div>
    </div>
</div>
          <!-- <div class="post">
              {% for item in items%}
             <p> <img src="{{ item.item_image.url }}" height="100" width="100"><br>
                Item:{{ item.item_name }} <br>
                Sender name: {{ item.sender_name }}<br>
                Sender contact no:{{ item.sender_no }} <br>
                Receiver name: {{ item.receiver_name }}<br>
                Receiver contact no:{{ item.receiver_no }} <br>
                Pick up place :{{ item.pickup_place }}<br>
                Drop off place: {{ item.dropoff_place }}<br>
                Pick up date:{{ item.pickup_date }}<br>
                Delivery price:{{ item.delivery_price }}
             </p>
              <button type="button">I will deliver </button>
              {% endfor %}
          </div> -->
          {% endblock %}
