{% extends "header.html" %}

<title>{% block tittle %}Public posts{% endblock %}</title>
{% block a%}


<div class="container">
    <div class="row">
        <div class="col-md-12">
          {% if items %}
              {% for item in items %}
            <div class="row post">

                <div class="col-md-4 image">
                            <h3>  {{ item.item_name }}</h3>
                            <img src="{{ item.item_image.url }}">

                    </div>
               <div class="col-md-4">
                <h3>From </h3>
                Sender name:    {{ item.sender_name }}<br>
                Sender contact no:  {{ item.sender_no }} <br>

                Pick up place :     {{ item.pickup_place }}<br>

                Pick up date:       {{ item.pickup_date }}<br>
                Delivery price:     {{ item.delivery_price }} <br /> <br />
                <span class="mybutton">
                  <form action="{% url 'carrier:item-delete' item.id  %}" method="post" style="display: inline;">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Delete</button>
      </form>
&nbsp;&nbsp;&nbsp;&nbsp;
       <form action="{% url 'carrier:item-update' item.id  %}" method="post" style="display: inline;">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Update</button>
      </form>
                    </span>
            </div>
            <div class="col-md-4">
                    <h3>To </h3>
                    Receiver name:   {{ item.receiver_name }}<br>
                    Receiver contact no:    {{ item.receiver_no }} <br>
                    Drop off place:      {{ item.dropoff_place }}<br>
               </div>


        </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endif %}
          {% endblock %}
