{% load staticfiles %}
<html>
    <head>
    <title>My Responsibilities</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">QuickIT</a>
              </div>
              <ul class="nav navbar-nav">
                <li class=""><a href="#">Home</a></li>
                <li><a href="#">Page 1</a></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
              </ul>
            </div>
          </nav>
          
          <div>
              <p> <img src="" height="" width="">Item: <br>
                 Sender name: <br> 
                 Sener contact no: <br>
                 Receiver name: <br> 
                 Receiver contact no: <br>
                 Pick up place :<br>
                 Drop off place <br>
                 Pick up date:<br>
              </p>
               <button type="button">Delivered </button>
           </div>