
{% extends "header.html" %}
<title>{% block tittle %}Responsibilities{% endblock %}</title>

     {% block a %}

          
          <div>
              <p> <img src="" height="" width="">Item: <br>
                 Sender name: <br> 
                 Sener contact no: <br>
                 Receiver name: <br> 
                 Receiver contact no: <br>
                 Pick up place :<br>
                 Drop off place <br>
                 Pick up date:<br>
              </p>
               <button type="button">Delivered </button>
           </div>
           {% endblock %}